.link {
  text-decoration: none;
  color: #000;

}
.wrapperLinks {
  background-color: #E1E1E1;
  min-height: 70px;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.wrapperLinks div{
  margin: 0 auto; 
  max-width: 1200px; 
  height: 100%;
  display: flex; 
  gap: 15px;
  justify-content: center;
  align-items: center
}

.disabled {
  opacity: 0.5;        
  cursor: not-allowed;  
  pointer-events: none;
  width: 100%;
  padding: 20px;
  background-color: #33B4EE;
  color: #fff;
  border: none;
  font-size: 24px;
  margin-bottom: 10px;
}

.customBtn {
  width: 100%;
  padding: 20px;
  background-color: #33B4EE;
  color: #fff;
  border: none;
  font-size: 24px;
  margin-bottom: 10px;
}

.activeLink {
  color: #003C78;
  font-weight: bold;
}

@media (max-width: 980px) {
  .wrapperLinks{
    font-size: 20px;
    padding: 10px;
  }
}

@media (max-width: 760px) {
  .wrapperLinks div{
    display: flex;
    flex-wrap: wrap;
  }
}


@media (max-width: 550px) {
  .customBtn {
  padding: 5px;
}
}