.wrapperOperations {
  max-width: 1400px;
  margin: 0 auto;
}
.wrapperOperations .add {
  padding: 8px 16px;
  height: 65px;
  font-size: 24px;
  margin-bottom: 30px;
  background-color: #33B4EE;
  color: #fff;
  border: none;
}
.item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  position: relative;
}
.item input{
  flex-grow: 1;
  height: 20px;
  background-color: #fff;
  padding: 5px;
  font-size: 20px;
  max-width: 390px;
}
.inform {
  display: grid;
  margin: 0 auto;
  padding: 10px;
  background-color: #EBEBEB;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 30px;
}

.table {
	width: 100%;
	margin-bottom: 20px;
	border-collapse: collapse; 
  background-color: #EBEBEB;
}
.table th {
	font-weight: bold;
	padding: 5px;
	border: 1px solid #dddddd;
  max-width: 300px;
  word-break: break-all; 
}
.table td {
	border: 1px solid #dddddd;
	padding: 10px;
  max-width: 300px;
  word-break: break-all; 
}
.table tr td:first-child, .table tr th:first-child {
	border-left: none;
}
.table tr td:last-child, .table tr th:last-child {
	border-right: none;
}

.errors{
  position: absolute;
  bottom: 17px;
  left: 283px;
  font-size: 16px;
  color: #ff0000;
}

.loading{
  margin-top: 50px;
  font-size: 32px;
  font-weight: 600;
}

@media (max-width: 1450px) {
  .wrapperOperations {
  max-width: 1100px;
}
}

@media (max-width: 1100px) {
  .inform {
  max-width: 800px;
}
.wrapperOperations {
  max-width: 800px;
}

}

@media (max-width: 830px) {
  .wrapperOperations {
  max-width: 600px;
}
  .inform {
  max-width: 600px;
  }
  .inform {
  display: flex;
  flex-direction: column;
  }
  .item {
  display: flex;
  flex-direction: column;
  }
  .item input{
  width: 60%;
  }
}

@media (max-width: 1100px) {
  .table, .table thead, .table tbody, 
  .table tr, .table th, .table td {
    display: block;
    border: none;
    font-size: 18px;
    background-color: transparent;
  }
  .table {
    max-width: 90%;
    margin: 0 auto;
  }
  
  .table thead {
    display: none; /* Скрываем стандартные заголовки */
  }
  
  .table tr {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    position: relative;
    white-space: wrap;
    background-color: #EBEBEB;
  }
  
  .table td {
    padding: 8px 8px 8px 50%;
    text-align: right;
    position: relative;
    border-bottom: 1px solid #eee;
  }
  
  .table td::before {
    /* Добавляем псевдо-заголовки */
    content: attr(data-label);
    position: absolute;
    left: 10px;
    top: 8px;
    font-weight: bold;
    text-align: left;
  }
}

@media (max-width: 600px) {

  .inform {
  max-width: 370px;
  }
  .item input{
  width: 90%;
  }
}