.wrapperOperations {
  max-width: 1400px;
  margin: 0 auto;
  padding: 30px 5px 5px 5px;
}
.wrapperOperations .add {
  padding: 8px 16px;
  height: 65px;
  font-size: 24px;
  margin-bottom: 30px;
  background-color: #33B4EE;
  color: #fff;
  border: none;
}
.item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.item input{
  flex-grow: 1;
  height: 20px;
  background-color: #fff;
  padding: 5px;
  font-size: 20px;
  max-width: 390px;
}
.inform {
  display: grid;
  margin: 0 auto;
  padding: 10px;
  background-color: #EBEBEB;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 30px;
}

.table {
	width: 100%;
	margin-bottom: 20px;
	border-collapse: collapse; 
  background-color: #EBEBEB;
}
.table th {
	font-weight: bold;
	padding: 5px;
	border: 1px solid #dddddd;
  max-width: 300px;
  word-break: break-all; 
}
.table td {
	border: 1px solid #dddddd;
	padding: 10px;
  max-width: 300px;
  word-break: break-all; 
}
.table tr td:first-child, .table tr th:first-child {
	border-left: none;
}
.table tr td:last-child, .table tr th:last-child {
	border-right: none;
}

.loading{
  margin-top: 50px;
  font-size: 32px;
  font-weight: 600;
}