.wrapperPackage {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  padding: 15px 5px 5px 5px;
}
.wrapperPackage h2{
  text-align: left;
  font-size: 30px;
}

.card {
  display: flex;
  max-width: 960px;
  background-color: #E1E1E1;
  padding: 10px;
  margin-bottom: 20px;
  cursor: pointer;
  justify-content: space-between;
}
.description{
  text-align: left;
}

.description .title {
  text-align: left;
  margin-bottom: 10px;
  color: #0779BF;
}

.btn {
  border: none;
  font-weight: 600;
  font-size: 24px;
  background-color: transparent;
}

.price{
  display: flex;
  border-left: 1px solid #fff;
  align-items: center;
  color: #0779BF;
  padding: 10px;
}
.item{
  margin-bottom: 5px;
  text-align: left;
}

.popupContainer {
  position: relative;
  display: inline-block;
}

.popupContainer button{
    width: 200px;
  height: 40px;
  padding: 5px;
  background-color: transparent;
  border: 1px solid #000;
  transition: transform 0.1s;
}

.popup {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 5px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
  max-width: 430;
  max-height: 430px;
  overflow: scroll;

}

.channelList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.channelList li {
  padding: 5px 10px;
  cursor: auto;
  font-size: 20px;
}
