.form form{
  max-width: 860px;
  width: 100%;
  margin: 0 auto;
  padding: 30px 5px 5px 5px;
}

.title {
  font-weight: 600;
  font-size: 32px;
  margin-top: 50px;
}


.service {
  font-weight: 400;
  font-size: 20px;
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 20px;}
.item {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}
.item input {
  width: 600px;
  background-color: #E1E1E1;
  border: none;
}
.btn{
  padding: 10px;
  background-color: #33B4EE;
  border: none;
  color: #fff;
  font-weight: 400;
  font-size: 24px;
}

