.form {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form{
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
  /* padding: 30px 5px 5px 5px; */
}

.title {
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 20px;
}


.service {
  display: flex;
  gap: 10px;
  font-weight: 400;
  font-size: 20px;
  background-color: unset;
  padding: 10px;
  margin: 0 auto;
}

.errors {
  font-size: 16px;
  color: #ff0000;
  display: block;
  position: absolute;
  bottom: 15px;
  left: 295px;
}

.item {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.item input {
  width: 60%;
  background-color: #E1E1E1;
  border: none;
}

.disabled{
  opacity: 0.5;         
  cursor: not-allowed;  
  pointer-events: none;
  padding: 10px;
  background-color: #33B4EE;
  border: none;
  color: #fff;
  font-weight: 400;
  font-size: 24px;
}

.btn{
  padding: 10px;
  background-color: #33B4EE;
  border: none;
  color: #fff;
  font-weight: 400;
  font-size: 24px;
}
.checkbox {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
}
.checkbox input{
  width: 20px;
  height: 20px;
}

.checkbox label{
  font-size: 18px;
}

