.navTop {
  height: 92px; 
  background-color: #003C78; 
  color: #fff
}

.navInner {
  max-width: 1200px; 
  height: 92px; 
  margin: 0 auto; 
  display: flex; 
  gap: 50px; 
  align-items: center ;
}

.input{
  flex-grow: 1;
}

.logout{
  border: none;
  background-color: transparent;
}
.admin{
  display: flex;
  align-items: center;
  gap: 20px;
}

.navInner input {
  width: 60%; 
  height: 35px;
}
.navInner a{
  color: #fff
}

.navInner button {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
}
.icon {
  position: relative;
  color: #000;
  left: 400px;
  bottom: 33px;
}

.navBottom {
  max-width: 1200px; 
  margin: 0 auto ;
  display: flex ;
  justify-content: space-between ;
  align-items: center ;
}
.navBottom h2 {
  color: #003C78; 
  font-style: italic; 
  font-weight: 700; 
  font-size: 32px
}

.navSupport {
  display: flex; 
  align-items: center; 
  gap: 20px
}

.navSupport p {
  width: 230px; 
  text-align: right; 
  font-weight: 500; 
  font-size: 15px; 
  color: #003C78
}

.navSupport div {
  color: #003C78; 
  font-weight: 800; 
  font-size: 48px
}



@media(max-width: 1250px){
  .navInner{
    padding: 10px;
  }
  .navBottom{
    padding: 10px;
  }
}

@media(max-width: 720px){
  .navTop{
    font-size: 20px;
  }
  .navTop button {
    font-size: 20px;
  }
}

@media(max-width: 640px){
  .navInner input {
    display: none;
  }
  .navBottom{
    display: flex;
    flex-direction: column;
    
  }
}