.add, .delete{
  text-align: left;
  max-width: 520px;
  font-weight: 600;
  margin: 0 auto;
}
.add .add p, .delete .delete p {
  display: inline;
  margin-bottom: 15px;
}

.title {
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 15px;
}

.wrapperBtn {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  align-items: center;
  justify-content: center;
}

@media (max-width: 500px) {
  .add, .delete{
    margin: 15px;
  }
}